---
layout: default
section_id: home
title: Music | Emmanuel Cabrera
excerpt: "Young pianist and composer from Mexico with big interest in creating emotions through music, positive or negative, but feelings should be sparked in listeners. Emmanuel has performed his compositions in the United States, Russia, Spain, India and Mexico." 
images:
- images/whitePiano.jpg

slides:
- title: Piano
  text: Music that creates <span>emotion</span>
  bg_color: "#fe677f"
  image: images/@stock/half-4.jpg
- title: World
  text: Exploring music around <span>us</span>
  bg_color: "#a3d0e6"
  image: images/@stock/half-1.jpg
- title: Flamenco
  text: On a <span>quest</span> to discover
  bg_color: "#F7C162"
  image: images/emmanuelPianoNegro.jpg

works_left:
- title: Rescue of forgotten musical works
  link_to: forgotten.html
  image: images/conciertoConservatorio.jpeg
  categories: music
- title: Maximilian (Emperor) Concert
  link_to: concert-maximilian.html 
  image: images/cerroCampanas.jpg
  categories: waltz, marches

works_right:
- title: Legends and Horror
  link_to: legends-horror.html
  image: images/antiguoEsenarioMacabro.jpg
  categories: mistery
- title: Jaguar Project
  link_to: project-jaguar.html
  image: images/jaguarClose.jpg
  categories: nature


milestones:
- title: Concerts
  from: 0
  to: 25
- title: Countries
  from: 0
  to: 5
- title: Genres
  from: 0
  to: 8
- title: Compositions
  from: 0
  to: 30

testimonials_left:
- author: Laureano Brizuela - Argentine singer-songwriter and musician, 30 year career
  content: “I haven’t seen anobody play a pasodoble like that on piano"
  avatar: images/@stock/author-1.png
- author: Patricia Quintana - Mexican chef, writer, businesswoman and professor
  content: “You play with the soul"
  avatar: images/@stock/author-3.png
- author: Misha Barkidjija - Ballet dancer at the Mariinsky Theater (Russia),  
  content: "Wow Maestro Emmanuel!  Your music makes me want to get up and dance. It’s passionate, and full of power"
  avatar: images/@stock/author-6.png
testimonials_right:
- author: Heriberto Murrieta - Sports journalists for ESPN and Radio Formula
  content: "Emmanuel Cabrera: inspiration, connection and musical quality" 
  avatar: images/@stock/author-2.png
- author: Francisco Domínguez - Governor of the State of Querétaro, Mexico
  content: "Today I met Emmanuel, a pianist, these are the talents we need to support"
  avatar: images/@stock/author-4.png
- author: Maestro Carlos Outón - Conductor of the City of Burgos Music Band (Spain) and principal French Horn in the Orchestra “La Artistica” de Buñol
  content: "We have played your songs, and we liked them! Bravo!"
  avatar: images/@stock/author-5.png

clients:
- image: images/@stock/client-1.png
  link: https://www.uaq.mx
- image: images/@stock/client-2.png
  link: https://festivalflamencodesantiago.com
- image: images/@stock/client-3.png
  link: https://www.freixenetmexico.com.mx
- image: images/@stock/client-4.png
  link: https://www.queretaro.gob.mx
- image: images/@stock/client-5.png
  link: https://www.guanajuato.gob.mx
- image: images/@stock/client-6.png
  link: http://www.cincovillas.org
---

<div class="full no-padding" style="height: 100vh;">
  <div id="slides">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            <p>{{ slide.title }}</p>
            <h1>{{ slide.text }}</h1>
            <div class="three spacing"></div>
          </div>
          <div class="slide-left" style="background-color: {{ slide.bg_color }};">
          </div>
          <div class="slide-right" style="background: url({{ slide.image }}) center center no-repeat;background-size: cover;">
          </div>
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>
  </div>
</div>
<div class="full light-grey-old centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <img src="images/@stock/diamond-brown.png" alt="" class="wow flipInY" data-wow-duration="2s" data-wow-delay="0.1s">
        <div class="spacing"></div>
        <h2>Who is Emmanuel?</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
        Young pianist and composer from Mexico with big interest in creating emotions through music, positive or negative, but feelings should be sparked in listeners. Emmanuel has performed his compositions in the United States, Russia, Spain, India and Mexico.
      </p>
      <div class="two spacing"></div>
      <a href="about.html" class="button boxed">Know more</a>
    </div>
  </div>
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Testimonials</h2>
        <p>I am honored to receive such kind words from outstanding human beings</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_left %}
        <div class="quote wow slideInLeft" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_right %}
        <div class="quote reverse wow slideInRight" class="wow" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="full light-grey-old flower">
  <div class="three spacing"></div>
  <div class="row">
    {% for milestone in page.milestones %}
      <div class="large-3 columns ">
        <div class="milestone centered-text">
          <div class="number" style="color: #333" data-from="{{milestone.from}}" data-to="{{milestone.to}}"> </div>
          <span>{{milestone.title}}</span>
          <div class="spacing"></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="three spacing"></div>
</div>
<div class="full no-padding">
  <div class="four spacing"></div>
  <div class="spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Recent projects</h2>
        <p>From concerts to collaborations</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>
<div class="full light-grey-old no-padding">
  <div class='row'>
  <div class="two spacing"></div>
    <div class='large-12 columns'>
      <div class='clients'>
        {% for client in page.clients %}
          <div><a href="{{client.link}}" target="_blank"><img alt="" src="{{site.url}}/{{client.image}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
<div class="full centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Donations</h2>
        <p>Your generosity towards my upcoming projects is always appreciated. Get in touch with me so I can update you on what is coming</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="NEULJWSMFKTWC" />
<input type="image" src="https://www.paypalobjects.com/en_US/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
</form>
      </div>
    </div>
  </div>
</div>
