---
layout: default
section_id: home
slides:
- title: Piano
  text: Music that creates <span>emotion</span>
  bg_color: "#3f72cb"
  image: images/@stock/half-1.jpg
- title: Flamenco
  text: On a <span>quest</span> to discover
  bg_color: "#F7C162"
  image: images/@stock/half-3.jpg
- title: World
  text: Exploring music around <span>us</span>
  bg_color: "#3f72cb"
  image: images/@stock/half-4.jpg

works_left:
- title: World Flamenco Concert
  link_to: portfolio-item.html
  image: images/@stock/work-1.jpg
  categories: Flamenco, pasodoble
- title: Maximilian (Emperor) Concert
  link_to: portfolio-item.html
  image: images/@stock/work-20.jpg
  categories: Waltz, marches

works_right:
- title: Halloween Concert
  link_to: portfolio-item-2.html
  image: images/@stock/work-3.jpg
  categories: Macabre, history
- title: New age series
  link_to: portfolio-item.html
  image: images/@stock/work-5.jpg
  categories: New age

milestones:
- title: Concerts
  from: 0
  to: 25
- title: Countries
  from: 0
  to: 4
- title: Genres
  from: 0
  to: 3
- title: Composiciones
  from: 0
  to: 34

testimonials_left:
- author: Francisco Dominguez - Governor of the State of Queretaro
  content: “Obcaecati voluptate ullam pariatur reiciendis optio harum
    quae aut, eveniet explicabo. Commodi pariatur ut provident.”
  avatar: images/@stock/author-1.png
- author: Aurelio Rodriguez - Director de Artes en Estado de Queretaro
  content: “Obcaecati voluptate ullam pariatur reiciendis optio harum
    quae aut, eveniet explicabo. ”
  avatar: images/@stock/author-3.png
testimonials_right:
- author: Juanita Alvarez - Patrocinadora Cinco Villas
  content: Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Explicabo eveniet asperiores ipsum saepe ab, aliquid veritatis incidunt
    laudantium modi accusamus quidem eum magni.
  avatar: images/@stock/author-2.png
- author: Dr. Jhon Doe - Professor at Austin Community College
  content: Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Consectetur rem doloribus veniam alias commodi, dolorem, natus autem neque.
    Quisquam labore.
  avatar: images/@stock/author-4.png

clients:
- image: images/@stock/client-1.png
- image: images/@stock/client-2.png
- image: images/@stock/client-3.png
- image: images/@stock/client-4.png
- image: images/@stock/client-5.png
- image: images/@stock/client-6.png
---

<div class="full no-padding" style="height: 100vh;">
  <div id="slides">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            <p>{{ slide.title }}</p>
            <h1>{{ slide.text }}</h1>
            <div class="three spacing"></div>
          </div>
          <div class="slide-left" style="background-color: {{ slide.bg_color }};">
          </div>
          <div class="slide-right" style="background: url({{ slide.image }}) center center no-repeat;background-size: cover;">
          </div>
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>
  </div>
</div>
<div class="full light-grey centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <img src="images/@stock/diamond-brown.png" alt="" class="wow flipInY" data-wow-duration="2s" data-wow-delay="0.1s">
        <div class="spacing"></div>
        <h2>Who is Emmanuel?</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
        Young pianist and composer from Mexico with big interest in creating emotions through music, positive or negative, but feelings should be sparked in listeners.
      </p>
      <div class="two spacing"></div>
      <!-- TODO: add link to bio -->
      <a href="#" class="button boxed">Know more</a>
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="four spacing"></div>
  <div class="spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Recent projects</h2>
        <p>From concerts to collaborations</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>
<div class="full light-grey flower">
  <div class="three spacing"></div>
  <div class="row">
    {% for milestone in page.milestones %}
      <div class="large-3 columns ">
        <div class="milestone centered-text">
          <div class="number" style="color: #333" data-from="{{milestone.from}}" data-to="{{milestone.to}}"> </div>
          <span>{{milestone.title}}</span>
          <div class="spacing"></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="three spacing"></div>
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Testimonials</h2>
        <p>I am honored to work with outstanding human beings</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_left %}
        <div class="quote wow slideInLeft" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_right %}
        <div class="quote reverse wow slideInRight" class="wow" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="full light-grey no-padding">
  <div class="two spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='clients'>
        {% for client in page.clients %}
          <div><a href="#"><img alt="" src="{{site.url}}/{{client.image}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
