---
layout: default
section_id: pages
title: Personal Photo Gallery
services:
- title: Saint Petersburg, Russian Federation
  desc: Concert in center of Saint Petersburg  with Flutist Maria Polischuk
  image: images/conciertoSPB.jpg
  image_position: left
- title: Dubai, U.A.E.
  desc: Impressive and unique Middle East
  image: images/arabiaHalcon.jpg
  image_position: left
- title: Moscow, Russian Federation
  desc: Red Square, in front of St. Basil's Cathedral
  image: images/moscu.jpg
  image_position: left
- title: Surat, India
  desc: The future generations set the destination of humanity
  image: images/indiaAmai.jpg
  image_position: left
- title: Surat, India
  desc:  Playing one of my compositions in India
  image: images/indiaBoda.jpg
  image_position: left
- title: Queretaro, Mexico
  desc: Flamenco, the sensual and passionate music style
  image: images/bailaoraFlamenco.jpg
  image_position: left
- title: Jaipur, India
  desc: A pure Romani-gipsy family, people known for their outstanding composers and writers
  image: images/rajastanh.jpg
  image_position: left
- title: Agra, India
  desc:  The Taj Mahal, one of the wonders of the old world
  image: images/tajMahal.jpg
  image_position: left


---

<div class="full centered-text light-cyan lamp">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">Personal Gallery</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p>To raise new questions, new possibilities, to regard old problems from a new angle, requires creative imagination and marks real advance in science.</p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
<div class="four spacing"></div>
<div class="two spacing"></div>
{% for service in page.services %}
  <div class="full no-padding">
    <div class="row">
      {% if service.image_position == 'left' %}
        <div class="medium-6 columns">
          <img class="imggallery" src="{{site.url}}/{{service.image}}" alt="">
        </div>
        <div class="medium-6 columns">
          <div class="service-info right-text">
            <h2>{{service.title}}</h2>
            <p>{{service.desc}}</p>
            <div class="two spacing"></div>
          </div>
        </div>
      {% else %}
        <div class="medium-6 columns">
          <div class="service-info right-text">
            <h2>{{service.title}}</h2>
            <p>{{service.desc}}</p>
            <div class="two spacing"></div>
          </div>
        </div>
        <div class="medium-6 columns">
          <img class="imggallery" src="{{site.url}}/{{service.image}}" alt="">
        </div>
      {% endif %}
    </div>
    <div class="four spacing"></div>
    <div class="two spacing"></div>
  </div>
{% endfor %}
</div>
