---
layout: default
section_id: portfolio
title: Emmanuel Cabrera Projects
works_left:
- title: Maximilian (Emperor) Concert
  link_to: concert-maximilian.html
  image: images/cerroCampanas.jpg
  categories: waltz, marches
works_middle:
- title: Rescue of forgotten musical works
  link_to: forgotten.html
  image: images/conciertoConservatorio.jpeg
  categories: music
works_right:
- title: Legends and Horror
  link_to: legends-horror.html
  image: images/antiguoEsenarioMacabro.jpg
  categories: mistery
---

<div class="full light-grey">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">Projects</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 medium-centered columns">
        <div class="header-quote">
          <p>Latest work, take a look at what I have been up to</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full no-overflow">
  <div class="four spacing"></div>
  <div class="large-4 columns">
    {% for work in page.works_left %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_middle %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_right %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
